{% extends 'base.html' %}
{% load i18n %}
{% block title %}Ваше мероприятие - {{ object.name }} - создано{% endblock %}

{% block content %}
<h1 class="fw3">Ваше мероприятие, {{ object.name }},теперь существует. Выберите одно из действий ниже.</h1>
<a href="{% url 'event-signin' object.pk %}" class="br2 pa3 ph4 bg-dark-red white dib tc link fw4 ma2">Выйти из учётной записи и перейти к мероприятию</a>
<a href="{% url 'event-participants' object.pk %}" class="br2 pa3 ph4 bg-dark-red white dib tc link fw4 ma2">Показать участников</a>
<a href="{% url 'event-delete' object.pk %}" class="br2 pa3 ph4 bg-dark-red white dib tc link fw4 ma2">Удалить событие</a>


<p>Удачи! <span class="red">&#127801;</span></p>

{% endblock %}
