{% extends 'base.html' %}
{% load i18n %}
{% block title %}Ваши мероприятия{% endblock %}

{% block content %}
    {% if object_list %}
        <h1 class='fw3'>Здесь ваши мероприятия:</h1>
    {% endif %}
    {% for event in object_list %}
        <a href="{{ event.get_absolute_url }}" class="link white db mb4 pv2">{{ event.name }}</a>
    {% empty %}
        <h1 class="fw3">У вас на данный момент нет мероприятий.</h1>
        <a href="{% url 'event-create' %}" class="link white bg-dark-red pv2 ph4 dib br2 fw4">Создать мероприятие</a>
    {% endfor %}
{% endblock %}
