{% extends 'base.html' %}
{% block title %}Event attendance{% endblock %}
{% load i18n %}
{% block content %}
{% if user.is_anonymous %}
<h1 class="fw3 white">Начнём с создания аккаунта, после чего необходимо будет войти в свою учётную запись для создания мероприятий. Уже есть аккаунт? Перейдите по ссылке "Войти".</h1>
<a href="{% url 'start' %}" class="ma2 link white br2 pv2 ph4 bg-dark-red">Приступить</a>
<a href="{% url 'login' %}" class="ma2 link white br2 pv2 ph4 bg-dark-red">Войти</a>
{% else %}
<h1 class="fw3 white">У вас уже есть аккаунт.</h1>
<a href="{% url 'event-list' %}" class="link white br2 pv2 ph4 bg-dark-red">Перейти к моим мероприятиям</a>
{% endif %}
{% endblock %}
