{% extends 'base.html' %}
{% block title %}Добро пожаловать!Пожалуйста войдите в учётную запись.{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="messages tc center pa4 dt">
            <div class="dtc v-mid f1 fw3 measure center">
            {{ message|safe }}
            </div>
        </div>
    {% endfor %}
{% endif %}

<div class="measure-wide">
    <h1 class="fw3">Добро пожаловать в  {{ event.name }}! Давайте зайдём в вашу учётную запись!</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
    <input type="submit" value="Войти" class="b--none br2 pa3 ph4 bg-dark-red white dib tc fw4 mv4" />
</div>


{% endblock %}
